<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h5>Best Seller Start</h5>
        @RenderBody()
        <h5>Best Seller End</h5>
    </div>
</body>
</html>
