@page
@model RsDistributors.View.Seller.Besto.BestoPage1Model
@{
    ViewData["Title"] = "Besto Page 1";
}

<div class="container product-container">
    <div class="row"></div>

    <div class="row">
        <form method="post" class="col-lg-3">
            <h3 class="product-details text-danger">Billing Details</h3>

            <div class="mb-3">
                <label for="DropDownShop" class="form-label">Shop Name</label>
                <select asp-for="SelectedShop" asp-items="Model.Shops" class="form-control"></select>
            </div>

            <div>
                <button class="btn btn-danger product-btn" asp-page-handler="Next">Next</button>
                <label class="text-primary">@Model.ErrorMessage</label>
            </div>
        </form>
    
        <div class="col-lg-9">
            <div class="row table-responsive" id="bill">
            </div>
        </div>
    </div>
</div>