@page
@model RsDistributors.Pages.Admin.ProductModel
@{
}

    <div class="container product-container">
        <div class="row"></div>

        <div class="row">
            <div class="col-lg-3">
                <h3 class="product-details text-danger">Product Details</h3>

  



           
            </div>

        </div>
    </div>
