@page
@model RsDistributors.Pages.Admin.SellerModel
@{
}
 <div class="container seller-container">
        <div class="row"></div>

       <div class="row">
            <div class="col-lg-3">
                <h3 class="product-details text-danger">Seller Details</h3>

       

       

           

        

            

     
            </div>
      
        </div>
    </div>
