@page
@model RsDistributors.Pages.Admin.SellerModel
@{
}
 <div class="container seller-container">
        <div class="row"></div>

       <div class="row">
            <div class="col-lg-3">
                <h3 class="product-details text-danger">Seller Details</h3>

                 <div class="mb-3">
                    <label for="CategoryTb" class="form-label">Seller Category</label>
                    <div>
                       <asp:DropDownList class="form-control" ID="droCategorySeller" runat="server" >
                           <asp:ListItem>Besto</asp:ListItem>
                           <asp:ListItem>Delmo</asp:ListItem>
                       </asp:DropDownList>
                   </div>
                </div>

       

           

        

            

     
            </div>
      
        </div>
    </div>
