@page
@model RsDistributors.Pages.IndexModel
@{
}

<h1>Index</h1>

<a asp-page="Admin/Dashboard" class="btn btn-primary">Dashboard</a>
<a asp-page="Admin/Product" class="btn btn-primary">Product</a>
<a asp-page="Admin/Seller" class="btn btn-primary">Seller</a>
<a asp-page="Admin/Shop" class="btn btn-primary">Shop</a>

<h3>Besto</h3>

<a asp-page="Seller/Besto/BestoPage1" class="btn btn-primary">BP1</a>
<a asp-page="Seller/Besto/BestoPage2" class="btn btn-primary">BP2</a>
