@page
@model RsDistributors.Pages.IndexModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>RS Distributors</title>

        <meta charset="UTF-8"/>
        <meta name="author" content="JD"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <link rel="icon" type="image/x-icon" href="~/lib/img/mainLogo.png"/>

        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <link href="~/css/sites.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
    </head>

    <body>
        <div class="container">
        <div class="row row-first"></div>

            <div class="row mt-5">
                <div class="col-md-1"></div>

                <div class="col-md-1"></div>

                <div class="col-md-4 img-main-logo img-main-logohide">
                    <div class="img-main-logo ">
                        <img class="img-fluid " src="~/lib/img/mainLogo.png" />
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="content-login">
                        <h1 class="text-danger text-singup logohidevisible">Sign Up</h1>

                        <form method="post">
                            <div>
                                <label class="form-label mt-3" asp-for="emailLogin">Email Address</label>
                                <input class="form-control" asp-for="emailLogin" placeholder="Enter your email" required="required" />
                            </div>

                            <div>
                                <label class="form-label mt-3" asp-for="passwordLogin">Password</label>
                                <input class="form-control" type="password" asp-for="passwordLogin" placeholder="Enter your password" required="required"/>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-danger btn-log" id="btnSaveLogin">Log in</button>
                            </div><br/>
                            <div>
                                <span style="color:red;">@Model.infoMsg</span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-1"></div>
                <div class="col-md-1"/></div>

            </div>
            <div class="loginFooter">  
                <p class="loginFooterText">Powered By ©️ JD</p>
            </div>
    </body>
</html>
