@page
@model RsDistributors.Pages.IndexModel
@{
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>RS Distributors</title>

    <meta charset="UTF-8" />
    <meta name="author" content="JD" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="background-color: white">
    <div class="container">
        <div class="row row-first"></div>

        <div class="row mt-3">

            <div class="col-md-4 mt-4">
                <div class="content-login">
                    
                    

                    <form>
                        <div>
                         
                            <input type="email" class="form-control" id="emailLogin" placeholder="Enter your email" runat="server" required="required" />
                        </div>

                        <div>
                         
                            <input class="form-control" type="password" id="passwordLogin" placeholder="Enter your password" runat="server" required="required" />
                        </div>

                        <div>
                            <asp:Button Class="btn btn-danger btn-log" runat="server" Text="Log In" ID="btnSaveLogin" OnClick="btnSaveLogin_Click" />
                            <label id="InfoMsg" runat="server" class="my-2"></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>