@page
@model RsDistributors.Pages.IndexModel
@{
}

<h1>Index</h1>

<a asp-page="/Admin/Dashboard" class="btn btn-primary">Dashboard</a>
<a asp-page="/Admin/Product" class="btn btn-primary">Product</a>
<a asp-page="/Admin/Seller" class="btn btn-primary">Seller</a>
<a asp-page="/Admin/Shop" class="btn btn-primary">Shop</a>